* {
  box-sizing: border-box;
}

body {

  background-color: blueviolet;
}

.reset-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

.highScore-button {
  font-size: 16px;
  height: 30px;
  line-height: 8px;
  margin-top: 20px;
}

li:hover {
  background-color: cyan;
  cursor: pointer;
}

ol{
  display: block;
}

button {
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  
}


main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
  
}


.game-area {
  width: 90vw;
  height: 90vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  border: 20px dotted yellow;
  display: flex;
  justify-content: space-evenly;
  

  
}
.questionBox {
  height: 300px;
  width: 500px;
  min-width: 400px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

.counter {
  height: 200px;
  width: 200px;
  background-color: whitesmoke;
  display: flex;
  font-size: 10em;
  text-align: center;
  flex-direction: column;

}

h2{
  font-size: 2em;
}












.word-blanks {
  line-height: 360px;
}

.large-font {
  font-size: 3.5em;
  text-align:center;
}


@media screen and (max-width: 1183px) {
  main {
    flex-direction: column;
  }

}

